#auth-form div{
    width: 100%;
}
@media (max-width: 960px) {
    #auth-button,
    #auth-form{
        position: relative;
        top:150px;
    }
}
@media (min-width: 960px) {
    #auth-button,
    #auth-form{
        width: 800px;
        margin-top: 20px;
        float: right;
    }
}