.draw{
    background-image:linear-gradient(to right bottom, #ffeaea, #ffc0c0);
    height: 800px;
    display: grid;
    grid-template-rows: 35% 8% 57%;
}
.draw-machine,
.draw-machine .drawer,
.corgrats-message{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.draw-machine .drawer h2{
    text-shadow: khaki 0 -2px;
}
.draw-machine .draw-btns{
    width:80%;
    margin-top: 20px;
}
.draw-machine .draw-btns button{
    width:45%;
    margin: 2%;
}
.draw-machine .drawer{
    background-color:#fff;
    width: 80%;
    height: 70px;
}
.drawed-list{
    padding: 20px;
}