#ready{
    height: 100%;
}
#ready .ready-left > *{
    width: 100%;
}
#ready .ready-left .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ready img{
    width: 80%;
    margin: 0 10% 10% 10%;
    height: auto;

}
#ready h2{
    width: 100%;
    font-family: 'BlackHanSans';
    font-weight: 100;
    text-align: center;
    color: #267424;
    text-shadow: #0b290a 0 -2px;
}
#quiz{
    display: grid;
    grid-template-rows: 10% 10% auto 13% 1%;
    background-image:linear-gradient(#ffffff, #ffe9f0);
    min-height: 300px;
    padding: 1%;
    border: none;
    border-radius: 0;
}
.christmas-striped{
    height: 12px;
    width: 100%;
    --ch-red:#ad113b;
    --ch-green:#00734a;
    background-image: linear-gradient(
        -50deg,var(--ch-red) 25%, var(--ch-green) 25%, 
        var(--ch-green) 50%,var(--ch-red) 50%,
        var(--ch-red) 75%, var(--ch-green) 75%,var(--ch-green) 100%);
    background-size: 56.57px 56.57px;
}
.christmas-striped.top{
    border-radius: 12px 12px 0 0;
}
.christmas-striped.bottom{
    border-radius: 0 0 12px 12px;
}
.christmas-striped.slim{
    height:7px;
}

#quiz .quiz-timeline{
    font-size: large;
}
#quiz .answer{
    text-align: right;
}
.loader {
    position: relative;
    bottom: 5px;
    display: inline-block;
    border: 7.2px solid #ec6666; /* Light grey */
    border-top: 7.2px solid #0b6827; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#wrongs{
    border: none;
    border-radius: 0;
    background-image: linear-gradient(to right bottom, #ffffff, #efe);
    padding: 5%;
}

#wrongs .wrongs-wrong{
    height: 40px;
}
#wrongs .wrongs-wrong h3{
    text-align: center;
    position: relative;
    top:30%;
}
@media (max-width: 960px) {
    #ready{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ready-left,
    .ready-right{
        width: 100%;
    }
    #quiz .title,
    #quiz .question,
    #quiz .answer,
    #quiz u{
        font-size: 20px;
        font-weight: 700;
        padding: 1%;
    }
    #wrongs{
        min-height: 200px;
    }
    .loader{
        bottom: -2px;
    }
}
@media (min-width: 960px) {
    #ready{
        display: flex;
        flex-direction: row;
    }
    #ready h2{
        font-size: 38px;
    }
    .ready-left,
    .ready-right{
        width: 50%;
    }
    .ready-right{
        display: flex;
        align-items: center;
    }
    #quiz .title,
    #quiz .question,
    #quiz .answer,
    #quiz u{
        font-family: 'BlackHanSans';
        font-size: 35px;
    }
    #quiz{
        line-height: 1em;
        padding: 3%;
        height: 500px;
        font-size: 50px;
    }
    #wrongs{
        min-height: 97%;
    }
    .loader{
        bottom: -1px;
    }
}
#admin-button-box{
    height: 60px;
}
#submitAnswer{
    background: none;
    border: none;
    margin: 3px 0 3px 0;
}
.already-submit-message{
    width: 100%;
    padding: 7px 0 7px 0;
    display: grid;
    grid-template-columns: 70% 30%;
}
.already-submit-message .my-answer{
    display: table;
    height: 100%;
}
.already-submit-message .my-answer h3{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#board{
    background-image: linear-gradient(to right bottom, #ffd0d0, #eeffee);
    display: table;
    height: 70px;
    width: 100%;
    text-align: center;
}

#board h4{
    display: table-cell;
    vertical-align: middle;
}

#board h4 span{
    position: relative;
    top: -6px;
}