*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
#root{
    height: 100%;
}

@media (min-width: 576px) {
    body{
        padding: 0 3% 0 3%;
    }
}

@media (min-width: 768px) {
    body{
        padding: 0 5% 0 5%;
    }
}

@media (min-width: 960px) {
    body{
        padding: 0 7% 0 7%;
    }
}
  